<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .button {
            height: 50px,
            borderRadius: 5px,
            borderWidth: 0px;
            backgroundColor: #FF406E,
            color: white
        }
    </style>
</head>
<body>
    <h2>Password reset was requested from your account.</h2>

    <a href={{ url }} style="height: 50px; borderRadius: 5px, backgroundColor: #FF406E; color: white">Reset Password</a>

    <p>If the button does not work, copy this link and paste it in your browser</p>

    <h3>{{ url }}</h3>

    <p>If this action was triggered by you, please contact support support@vent.ly</p>
</body>
</html>